header{
    div{
        text-align: center;
        font-size: 350%;
        //background-color: bisque;
        padding: 25px;
        border-bottom: 2px white solid;
        color: black;
        //-webkit-text-stroke-color: #13547a;
        //-webkit-text-stroke-width: 0.6px;
    }
}