html{
    //height: 100%;
    font-family: 'Lora', serif;
    background: #80d0c7;
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);

    body{
        margin: 0;
        padding: 0;
    }
}